<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      
    </div>
    <div class='col-md-9'>
      <thead>
        <p>
          ようこそ、ながのCAKEへ!<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の観覧はできますが、<br>
          購入には会員登録は必要になります。
        </p>
      </thead>
      <tbody>
        <h2><strong>新着商品</strong></h2>
      </tbody>
    </div> 
  </div>
</div>


