<div class='container px-20 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/genre-search' %>
    </div>
    <div class='col-md-8 offset-md-1'>
        <h3>
          ようこそ、ながのCAKEへ!<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の観覧はできますが、<br>
          購入には会員登録は必要になります。
        </h3>
      <tbody>
        <h2><strong>新着商品</strong></h2>
        <%= @items.each do |item| %>
          <tr>
            <td>
              <div></div>
              <div><%= item.name %></div>
              <div><%= item.price %></div>
            </td>
          </tr>
        <% end %>  
      </tbody>
    </div>
  </div>
</div>


