<div class="container">
  <div class="row">
    <div class="col-md-3"><%= render 'layouts/genre-search', genres: @genres %></div>
    <div class="col-md-9">
      <h2 class="mb-3">商品一覧 <span class="badge bg-secondary"><%= @items.count %>件</span></h2>
      <div class="card-deck">
        <% @items.each do |item| %>
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title"><%= item.name %></h4>
            <p class="card-text">¥<%= item.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

