<div class="row">
  <div class="col-xs-2">
		<%= render 'items/sidebar', genres: @genres %>
	</div>
	<div class="col-xs-10">
	 <p><%= item.name %></p>
	 <p><%= item.explanation %></p>
   <p>¥<%= item.price %></p>
	</div>
</div>
