<div class="card">
 <div class="card-header text-center">
  <h4>ジャンル検索</h4>
 </div>
 <div class="card-body">
  <table class="table table-bordered table-hover">
   <thead class="thead-light">
    <tr>
     <th></th>
    </tr>
   </thead>
   <tbody>
   <% genres.each do |genre| %>
    <tr>
     <td>
     <%= link_to items_path(genre_id: genre.id), class: "text-dark font-weight-bold" do %>
      <%= genre.category %>
     <% end %>
     </td>
    </tr>
   <% end %>
  </tbody>
 </table>
 </div>
</div>


